/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Fira+Code&family=Poppins:wght@500&family=Raleway&display=swap');

/* common style and utility  */
body {
    font-family: 'Fira Code', monospace;
    background-color: #F3F1FF;
    margin: 0 auto;
}

.container {
    width: 100%;
}

.top-banner {
    background-color: #130f40;
    border-radius: 15px;
    padding: 30px 0;
    margin: 20px 20px 0 20px;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner-heading {
    font-weight: 700;
    font-size: 50px;
    color: white;
}

.banner-description {
    font-size: 16px;
    color: white;
}

.banner-button {
    background-color: #DD0000;
    border-radius: 5px;
    margin-top: 20px;
    padding: 16px 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    t
}

.fa-circle-right {
    color: white;
    font-size: 20px;
}

.banner-content {
    width: 100%;
    margin-left: 20px;
}

.banner-content img {
    width: 90%;
}

/* main sectoion style */
.fixure-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    list-style: none;
    background-color: white;
    border-radius: 10px;
    width: 252px;
    padding: 10px 10px;
    margin: 30px;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}

.colorize {
    background-color: red;
}

nav {
    width: 312px;
    height: 312px;
    margin-right: 90px;
}

.side-bar {
    background-color: black;
    width: 312px;
    height: 280px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

/* Blog item design */
.blog-button {
    margin-top: 20px;
    width: 100px;
    height: 32px;
    border-radius: 5px;
}

.blog-button a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.Blog-description {
    font-size: 18px;
}

.icons a {
    font-size: 16px;
    text-decoration: none;
    color: gray;
    width: 53px;
    height: 26px;
}

.icon {
    margin-left: 30px;
}

.top-games {
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

.top-games img {
    width: 100%;
}

.top-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
    column-gap: 24px;


}

.body-area {
    width: 984px;

}

.main-section {
    display: flex;
}

/* Upcoming section Extra work */
.oponent {
    display: flex;
    justify-content: center;
}

.oponent .games img {
    margin-top: 70px;

}

.oponent h4 {
    margin: 90px 10px 0 10px;
}

.icons {
    color: gray;
    text-align: center;
}

/* Extra part for Media  */
.extra {
    text-align: center;
    margin-top: 100px;
}

.extra-button {
    background-color: #DD0000;
    padding: 12px 29px;
    border-radius: 5px;
    border: none;

}

.extra-button a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

/*```````````````
                   footer style      ----------*/
footer {
    background-color: #2f3640;
    padding-bottom: 50px;
    width: 100%;
}

.footer-head {
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.info {
    color: #B9B9B9;
    font-size: 16px;
}

.contack-info {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .banner {
        display: flex;
        flex-direction: column;

    }

    .side-bar {
        background-color: white;
        color: black;
    }

    .fixure-menu {
        display: flex;
        flex-direction: column;
    }

    .main-section {
        display: flex;
        flex-direction: column;
    }

    .body-area {
        width: 100%;
        margin-bottom: 70px;
        margin-left: 30px;
    }

    .top-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .contack-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .extra {
        display: none;
    }
}